<div class="d-flex flex-column align-items-center justify-content-center height-100-vh">
    <form>
        <div class="text-align-center">
            <h1 class="mb-5">Login</h1>
        </div>
        <div>
            Login: tsiky, mot de passe: 123456
        </div>
        <div>
            <label>Nom d'utilisateur:</label>
            <input type="text" [(ngModel)]="userName" class="form-control" name="userName">
        </div>
        <div>
            <label>Mot de passe:</label>
            <input type="password" [(ngModel)]="mdp" class="form-control" name="mdp">
        </div>
        <div class="mt-5">
            <button class="btn btn-primary" (click)="preview(); $event.preventDefault()">Connexion</button>
        </div>
    </form>
</div>
