<div class="container-fluid">
    <div class="d-flex flex-row-reverse bd-highlight menu">
        <div>
            <a [routerLink]="['/login']" routerLinkActive="router-link-active">login</a>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center">
        <ngb-carousel *ngIf="images && images.length > 2">
            <ng-template ngFor let-image [ngForOf]="images">
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img [src]="image.url" [alt]="image.title">
                    </div>
                    <div class="carousel-caption">
                        <h3>{{image.title}}</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </ng-template>
                
            </ng-template>
        </ngb-carousel>
    </div>
</div>